:root {
  --bg: #ddd;
  --headerbg: #cef1f1;
  --navbg: #eafcfc;
  --mainbg: #fcfcfc;
  --navlink: rgb(121, 169, 220);
}

/*** GENERAL ***/

* {
  box-sizing: border-box;
}

body, div, header, footer, main, h1, h2, h3, h4, h5, h6, img, p {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background: var(--bgcol);
  min-height: 100%;
}

a {
  text-decoration: none;
}

/*** HEADER ***/

header {
  max-width: 1200px;
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: var(--headerbg);
  gap: 15px;
}

header img {
  flex: 1;
  max-width: 200px;
}

header aside {
  display: flex;
  flex-direction: column;
  flex: 3 300px;
  margin-left: 30px;
}

header h2 {
  font-size: medium;
}

header p {
  margin: 0;
}

/*** NAV ***/

nav {
  max-width: 1200px;
  width: auto;
  margin: auto;
  padding: 15px;
  background: var(--navbg);
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  font-size: large;
  color: var(--navlink);
  border-bottom: 3px dotted var(--navlink);
  padding-bottom: 0.2em;
  margin: 0.3em;
}

nav ul li a:hover {
  color: var(--navlink);
  border-bottom: 3px solid var(--navlink);
}

/*** MAIN ***/

main {
  width: auto;
  margin: auto;
  max-width: 1200px;
  background: var(--mainbg);
  padding: 15px;
}

main p {
  margin-bottom: 6px;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  margin: 15px 0;
}
