:root {
  --bg: #e3e7ed;
  --headerbg: #cef1f1;
}

/*** GENERAL ***/

* {
  box-sizing: border-box;
}

body, div, header, footer, main, h1, h2, h3, h4, h5, h6, img {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background: var(--bgcol);
}

/*** HEADER ***/

header {
  max-width: 1200px;
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: var(--headerbg);
}

header img {
  flex: 1;
  max-width: 200px;
}

header aside {
  display: flex;
  flex-direction: column;
  flex: 3 300px;
}

/*** MAIN ***/

main {
  width: auto;
  margin: auto;
  margin-top: 20px;
  max-width: 1200px;
}
